body {
  font-family: futura;
}

.menu {
  background: black;
  display: flex;
  justify-content: flex-end;
  /* padding: .5em; */
  color: white;
}

a {
  color: white;
  padding: 1em;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
  border-radius: 15px;
}

.footerContainer {
  background: black;
  padding: 1.5em;
  color: white;
}
