body {
  font-family: futura;
  background: #262626;
  color: white;
  text-align: center;
}

.menu {
  background: #262626;
  display: flex;
  justify-content: flex-end;
  /* padding: .5em; */
  color: white;
}

a {
  color: white;
  padding: 1em;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
  border-radius: 15px;
}

.container {
  text-align: left;
  padding: 5em;
}

.footerContainer {
  background: #262626;
  padding-top: 5.5em;
  color: white;
}
