body {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  background-color: #E8E8E8;
}

.hero {
  /* Size */
  width: 100vw;
  height: 100vh;

  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text */
  text-align: center;
  color: white;

  /* Background */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/concert-hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#text-box {
  padding: 5px;
  radius: 20px;
}

.weather-info {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  font-size: 25px;
  width: 100%
}

.weatherClass {
  text-align: center;
  padding:15px;
  border: 1px solid black;
  display: none;
  width: 100%;
}

.weatherClass:first-of-type {
  display: block;
}
.event-info {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  font-size: 25px;
  width: 100%;
}

.eventClass {
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  width: 100%;
  display: none;
}

.eventClass:first-of-type {
  display: block;
}
